@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

body{
    color: #000000;
    background: linear-gradient(90deg, rgb(245, 119, 119) 0%, rgb(153, 0, 0) 50%);
    font-size: 15px;
    font-family: 'Varela Round', 'sans-serif';
}

.table-wrapper{
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title{
    padding-bottom: 15px;
    background-color: #b30000;
    color: #fff;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    padding: 15px 30px;
}

.table-title h2 {
    width: 100%;
    margin: 5px;
}

.table-title .btn {
    float: right;
    color: #ffffff;
    background-color: #b30000;
    border: 0;
    min-width: 50px;
    border-radius: none;
    outline: none !important;
    margin-left: 10px;
}

.mapa iframe{
    width: 82%;
    height: 425px;
    padding-top: 2px;
}

.container{
    padding-top: 25px;
}

.nav-item{
   color: #ffffff;
   margin-left: 10px;
}

.nav-item:hover{
    color: #8d8d8d;
}

.logout{
    margin-left: 67%;
}

.img{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 25px;
}